
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

a {
  color: inherit;
  display: inline-block;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 10px;
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 11rem;
  overflow-x: hidden;
}

body,
[type="submit"] {
  font-size: 1.6rem;
  font-family: var(--font-family-raleway);
  background-color: var(--color-background);
  color: var(--color-text);
  border:none;
}

/* container */
.container {
  display: grid;
  row-gap: 11rem;
  margin: 0 auto;
  max-width: calc(var(--container-width) + calc(var(--gutter) * 2));
  padding-inline: var(--gutter);
}
/* background video */
.video-loop {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;  
  opacity: var(--background--opacity);
  z-index: -1;
}

